:root {
    /* colors */
    --primary-background: #ffffff;
    --secondary-background: #DEE0E2;
    --primary-color: #3455DB;
    --secondary-color: #00823B;
    --primary-text: #050505;
    --primary-text-invert: #ffffff;
    --secondary-text: grey;
    --divider-color: #000000;
    --nav-color: #000000;

    /* modular typography baseline: 1em */
    --step-up-5: 2.2em;
    --step-up-4: 1.7511em;
    --step-up-3: 1.5157em;
    --step-up-2: 1.3195em;
    --step-up-1: 1.1487em;
    --step-up-0: 1em;
  }

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
  }


  @media (max-width: 600px) {
    html {
      font-size: 16px;
    }
  }
  
  @media (min-width: 600px) {
    html {
      font-size: 17px;
    }
  }
  
  @media (min-width: 1200px) {
    html {
      font-size: 18px;
    }
  }

  header {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    height: 291px;
    margin: 0;
    padding: 2em;
    color: var(--primary-text-invert);
}

header h1 {
    max-width: 960px;
    margin: auto;
}

section {
    padding: 2em;
}


article {
    width: 360px;
    background-color: var(--primary-background);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.021), 0 17px 50px 0 rgba(0,0,0,0.19);
}

article img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}


button {
    padding: 0.8em;
    font-size: var(--step-up-0);
    background-color: var(--primary-color);
    color: var(--primary-text-invert);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: black
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main {
    background-color: var(--secondary-background)
}